---
layout: default
active: home
---

<div class="intro">
    <h2 class="intro__title title">Hello, I&rsquo;m Sam Morris</h2>
    <p class="intro__paragraph paragraph intro__bio">{% include /base/bio.html %}</p>
    <p class="intro__paragraph paragraph intro__follow">You can follow me on Twitter</p>
</div>
<h3 class="project--mobile__title">Projects</h3>
{% for post in site.categories.project %}
<div class="project project--{{ post.layout }}" id="{{ post.title | handleize }}">
    <div class="project__content">
        <img class="project__content__image" src="{{ '/assets/images/projects/' | prepend: site.url }}{{ post.title | handleize }}.jpg" />
        <video class="project__content__video" preload="auto" loop autobuffer="false" poster="{{ "/assets/images/projects/" | prepend: site.url }}{{ post.title | handleize }}.jpg">
            <source src="{{ "/assets/videos/" | prepend: site.url }}{{ post.title | handleize }}.mp4" type="video/mp4">
            <source src="{{ "/assets/videos/" | prepend: site.url }}{{ post.title | handleize }}.webm" type="video/webm">
        </video>
    </div>
    <div class="project__description">
        <h3 class="project__description__title title">{{ post.title }}</h3>
        <div class="project__description__content">
            {{ post.content | indent: 12 }}
        </div>
    </div>
</div>
<a class="project--mobile" href="{{ post.project-url }}">{{ post.title }}</a>
{% endfor %}