---
layout: default
active: home
---

<div class="intro">
    <h2 class="intro__title title">Hello, I&rsquo;m Sam Morris</h2>
    <p class="intro__paragraph paragraph intro__bio">{% include /base/bio.html %}</p>
    <p class="intro__paragraph paragraph intro__follow">You can follow me on Twitter</p>
</div>

{% for post in site.categories.project %}
<div class="project project--{{ post.layout }}" id="{{ post.title | handleize }}">
    <div class="project__content">
        <video class="project__content__video" preload="auto" loop autobuffer="false" poster="{{ site.url }}assets/images/projects/{{ post.title | handleize }}.jpg">
            <source src="{{ site.url }}assets/videos/{{ post.title | handleize }}.mp4" type="video/mp4">
            <source src="{{ site.url }}assets/videos/{{ post.title | handleize }}.webm" type="video/webm">
        </video>
    </div>
    <div class="project__description">
        <h3 class="project__description__title title">{{ post.title }}</h3>
        <div class="project__description__content">
            {{ post.content }}
        </div>
    </div>
</div>
{% endfor %}