html {
    font-size: 62.5%;
}

body {
    margin: 91px 0 0 0;
    @include mq($to: mobile) {
        margin-top: 110px;
    }
    font-family: $serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

a {
    color: $red;

    &:hover {
        color: $dark-grey;
    }

    &:active {
        position: relative;
        top: 1px;
    }
}

main {
    padding-top: 20px;
}

.container {
    overflow: auto;
    padding: 0 20px;
    margin: 10px auto;

    @include mq($from: desktop) {
        width: 900px;
    }
}

::selection {
    background-color: $yellow;
    color: $dark-grey;
}

.container {
    opacity: 0;
    @include transition-duration(500ms);

    .wf-apercubold-n7-active & {
        opacity: 1;
    }
}
