html {
    font-size: 62.5%;
}

body {
    margin: 91px 0 0 0;
    font-family: $serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

a {
    color: $red;

    &:hover {
        color: $dark-grey;
    }
}

.container {
    overflow: auto;
    padding: 0 20px;
    margin: 10px auto;

    @include mq($from: desktop) {
        width: 900px;
    }
}