header {
    position: fixed;
    z-index: 10;
    top: 0;
    width: 100%;
    border-bottom: 1px solid $light-grey;
    background-color: $off-white;
    @include mq($to: mobile) {
        height: 110px;
    }
    @include mq($from: mobile) {
        height: 58px; 
        padding: 16px 0;
    }

    .container {
        @include mq($to: mobile) {
            margin: 0;
            padding: 0;
        }
    }
}