.intro {
    padding: 20px 0;
    text-align: center;

    .intro__title {
        margin: 20px 0;
        color: $red;
        font-family: $sans-serif;
        font-size: $font-size-large;
    }

    .intro__paragraph {
        margin-bottom: 12px;
        color: $dark-grey;
        font-size: $font-size-body;
        line-height: $line-height-body;
        
        &:after {
            display: block;
            width: 20px;
            height: 1px;
            margin: 20px auto;
            background-color: $light-grey;
            content: " ";
        }
    }
}