.intro {
    text-align: center;

    .intro__paragraph {
        margin-bottom: 12px;
        color: $dark-grey;
        font-size: $font-size-body;
        line-height: $line-height-body;

        &:after {
            display: block;
            width: 20px;
            height: 1px;
            margin: 20px auto;
            background-color: $light-grey;
            content: " ";
        }

         br {
            @include mq($to: mobile) {
                display: none;
            }
        }
    }
}