.project {
    position: relative;
    margin: 0 auto 120px auto;

    .project__content {
        margin: 0 auto;
        @include transition-duration(300ms);
        @include mq($from: desktop) {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            z-index: 2;
        }

        .project__content__video {
            width: 100%;
            height: auto;
        }
    }

    .project__description {
        margin: 0 auto;
        width: 280px;
        @include transition-duration(300ms);
        @include mq($from: desktop) {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            opacity: 0;
        }
    }
}

// Project specific styling
#bbc-archive.project {
    .project__description__content {
        img {
            float: left;
            margin-right: 16px;
        }
    }
}