.title {
  margin: 20px 0;
  color: #ef3f42;
  font-family: "Apercu Bold", "Futura", sans-serif;
  font-size: 4.4rem; }

p,
.paragraph {
  margin-bottom: 12px;
  color: #666666;
  font-size: 1.6rem;
  line-height: 2.4rem; }

html {
  font-size: 62.5%; }

body {
  margin: 99px 0 0 0;
  font-family: "ff-tisa-web-pro", Georgia, serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased; }

a {
  color: #ef3f42; }
  a:hover {
    color: #666666; }

.container {
  overflow: auto;
  padding: 0 20px;
  margin: 10px auto; }
  @media all and (min-width: 58.75em) {
    .container {
      width: 900px; } }

header {
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
  padding: 16px 0;
  border-bottom: 1px solid #eeeeee;
  background-color: #fcfcfc; }
  @media all and (max-width: 39.99em) {
    header {
      padding: 0; } }
  @media all and (max-width: 39.99em) {
    header .container {
      margin: 0;
      padding: 0; } }

.logo {
  margin: 0;
  background-color: #ef3f42;
  font-family: "Apercu Bold", "Futura", sans-serif;
  font-size: 1.8rem; }
  @media all and (min-width: 40em) {
    .logo {
      float: left;
      padding: 8px 10px;
      border-radius: 3px; } }
  @media all and (max-width: 39.99em) {
    .logo {
      width: 100%;
      padding: 16px 0;
      text-align: center; } }
  .logo:hover {
    background-color: #666666; }
  .logo .logo__anchor {
    color: #fcfcfc;
    text-decoration: none; }

.navigation {
  margin: 0;
  padding: 0;
  list-style: none; }
  @media all and (min-width: 40em) {
    .navigation {
      float: right; } }
  .navigation .navigation__link {
    float: left;
    color: #ef3f42;
    font-family: "Apercu Bold", "Futura", sans-serif;
    font-size: 1.8rem;
    cursor: pointer; }
    @media all and (min-width: 40em) {
      .navigation .navigation__link {
        padding: 8px 0 8px 40px; } }
    @media all and (max-width: 39.99em) {
      .navigation .navigation__link {
        width: 33%;
        padding: 16px 0;
        text-align: center; } }
    .navigation .navigation__link:hover {
      color: #666666; }
    .navigation .navigation__link .navigation__link__anchor {
      text-decoration: none;
      padding: 4px 6px; }
  .navigation .navigation__link--active .navigation__link__anchor {
    border: 1px solid #ef3f42;
    border-radius: 3px; }
  @media all and (min-width: 40em) {
    .navigation .navigation__link--mobile {
      display: none; } }
  @media all and (max-width: 39.99em) {
    .navigation .navigation__link--desktop {
      display: none; } }

.intro {
  padding: 20px 0;
  text-align: center; }
  .intro .intro__paragraph {
    margin-bottom: 12px;
    color: #666666;
    font-size: 1.6rem;
    line-height: 2.4rem; }
    .intro .intro__paragraph:after {
      display: block;
      width: 20px;
      height: 1px;
      margin: 20px auto;
      background-color: #eeeeee;
      content: " "; }

.project {
  position: relative;
  margin-bottom: 120px;
  height: 644px; }
  .project .project__content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 2;
    -webkit-transition-duration: 300ms;
    -moz-transition-duration: 300ms;
    -o-transition-duration: 300ms;
    transition-duration: 300ms; }
    .project .project__content .project__content__video {
      width: 100%;
      height: auto; }
  .project .project__description {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 280px;
    opacity: 0;
    -webkit-transition-duration: 300ms;
    -moz-transition-duration: 300ms;
    -o-transition-duration: 300ms;
    transition-duration: 300ms; }

.project--desktop {
  height: 460px; }
  .project--desktop .project__content {
    width: 600px;
    padding-top: 27px;
    background: url("../images/project--desktop.png") no-repeat; }
  .project--desktop .project__description {
    top: 80px; }
  .project--desktop.project--active .project__content {
    right: 360px; }
  .project--desktop.project--active .project__description {
    left: 630px;
    opacity: 1; }

.project--phone {
  height: 644px; }
  .project--phone .project__content {
    width: 270px;
    padding: 80px 20px;
    border-radius: 20px;
    background-color: #eeeeee; }
  .project--phone .project__description {
    top: 100px; }
  .project--phone.project--active .project__content {
    right: 380px; }
  .project--phone.project--active .project__description {
    left: 320px;
    opacity: 1; }

.project--tablet--landscape {
  height: 430px; }
  .project--tablet--landscape .project__content {
    width: 480px;
    padding: 30px 60px 25px 60px;
    border-radius: 15px;
    background-color: #eeeeee; }
  .project--tablet--landscape .project__description {
    top: 80px; }
  .project--tablet--landscape.project--active .project__content {
    right: 360px; }
  .project--tablet--landscape.project--active .project__description {
    left: 630px;
    opacity: 1; }

footer {
  margin: 20px 0;
  color: #bbbbbb;
  text-align: center;
  font-size: 1.6rem; }
