.title {
  margin: 20px 0;
  color: #ef3f42;
  font-family: "Apercu Bold", "Futura", sans-serif;
  font-size: 4.4rem; }
  @media all and (max-width: 39.99em) {
    .title {
      font-size: 3.2rem; } }

p,
.paragraph {
  margin-bottom: 12px;
  color: #666666;
  font-size: 1.6rem;
  line-height: 2.6rem; }

html {
  font-size: 62.5%; }

body {
  margin: 91px 0 0 0;
  font-family: "ff-tisa-web-pro", Georgia, serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased; }
  @media all and (max-width: 39.99em) {
    body {
      margin-top: 110px; } }

a {
  color: #ef3f42; }
  a:hover {
    color: #666666; }

main {
  padding-top: 20px; }

.container {
  overflow: auto;
  padding: 0 20px;
  margin: 10px auto; }
  @media all and (min-width: 58.75em) {
    .container {
      width: 900px; } }

header {
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
  padding: 16px 0;
  border-bottom: 1px solid #eeeeee;
  background-color: #fcfcfc; }
  @media all and (max-width: 39.99em) {
    header {
      padding: 0; } }
  @media all and (max-width: 39.99em) {
    header .container {
      margin: 0;
      padding: 0; } }

.logo {
  margin: 0;
  background-color: #ef3f42;
  font-family: "Apercu Bold", "Futura", sans-serif;
  font-size: 1.8rem; }
  @media all and (min-width: 40em) {
    .logo {
      float: left;
      border-radius: 3px; } }
  @media all and (max-width: 39.99em) {
    .logo {
      width: 100%;
      text-align: center; } }
  .logo:hover {
    background-color: #666666;
    -webkit-transition-duration: 500ms;
    -moz-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms; }
    .logo:hover .logo__anchor {
      color: white; }
  .logo .logo__anchor {
    display: block;
    padding: 8px 10px;
    color: #fcfcfc;
    text-decoration: none; }
    @media all and (max-width: 39.99em) {
      .logo .logo__anchor {
        padding: 16px 0; } }

.navigation {
  margin: 0;
  padding: 0;
  list-style: none; }
  @media all and (min-width: 40em) {
    .navigation {
      float: right; } }
  .navigation .navigation__link {
    float: left;
    color: #ef3f42;
    font-family: "Apercu Bold", "Futura", sans-serif;
    font-size: 1.8rem;
    cursor: pointer; }
    @media all and (min-width: 40em) {
      .navigation .navigation__link {
        padding: 8px 0 8px 40px; } }
    @media all and (max-width: 39.99em) {
      .navigation .navigation__link {
        width: 33%;
        padding: 16px 0;
        text-align: center; } }
    .navigation .navigation__link:hover {
      color: #666666; }
    .navigation .navigation__link .navigation__link__anchor {
      text-decoration: none;
      padding: 4px 6px; }
  .navigation .navigation__link--active .navigation__link__anchor {
    border: 1px solid #ef3f42;
    border-radius: 3px; }
  @media all and (min-width: 40em) {
    .navigation .navigation__link--mobile {
      display: none; } }
  @media all and (max-width: 39.99em) {
    .navigation .navigation__link--desktop {
      display: none; } }

.intro {
  text-align: center; }
  .intro .intro__paragraph {
    margin-bottom: 12px;
    color: #666666;
    font-size: 1.6rem;
    line-height: 2.6rem; }
    .intro .intro__paragraph:after {
      display: block;
      width: 20px;
      height: 1px;
      margin: 20px auto;
      background-color: #eeeeee;
      content: " "; }
    @media all and (max-width: 39.99em) {
      .intro .intro__paragraph br {
        display: none; } }

.project {
  position: relative;
  margin: 40px auto 100px auto; }
  @media all and (max-width: 39.99em) {
    .project {
      display: none; } }
  .project .project__content {
    margin: 0 auto;
    -webkit-transition-duration: 300ms;
    -moz-transition-duration: 300ms;
    -o-transition-duration: 300ms;
    transition-duration: 300ms; }
    @media all and (min-width: 58.75em) {
      .project .project__content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 2; } }
    .project .project__content .project__content__video {
      width: 100%;
      height: auto; }
  .project .project__description {
    margin: 0 auto;
    width: 280px;
    -webkit-transition-duration: 300ms;
    -moz-transition-duration: 300ms;
    -o-transition-duration: 300ms;
    transition-duration: 300ms; }
    @media all and (min-width: 58.75em) {
      .project .project__description {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        opacity: 0; } }

.project--mobile,
.project--mobile__title {
  display: block;
  margin: 0 0 12px 0;
  font-family: "Apercu Bold", "Futura", sans-serif;
  font-size: 1.8rem;
  text-align: center;
  text-decoration: none; }
  @media all and (min-width: 40em) {
    .project--mobile,
    .project--mobile__title {
      display: none; } }

.project--mobile__title {
  color: #666666; }

#bbc-archive.project .project__description__content img {
  float: left;
  margin-right: 16px; }

.project--desktop {
  min-height: 460px; }
  .project--desktop .project__content {
    width: 600px;
    padding-top: 27px;
    background: url("../images/project--desktop.png") no-repeat; }
  .project--desktop .project__description {
    margin-top: 80px; }
  .project--desktop.project--active .project__content {
    right: 360px; }
  .project--desktop.project--active .project__description {
    left: 630px;
    opacity: 1; }

.project--phone {
  min-height: 644px; }
  @media all and (min-width: 40em) and (max-width: 58.74em) {
    .project--phone {
      width: 600px; } }
  .project--phone .project__content {
    width: 270px;
    padding: 80px 20px;
    border-radius: 20px;
    background-color: #eeeeee; }
    @media all and (min-width: 40em) and (max-width: 58.74em) {
      .project--phone .project__content {
        float: left; } }
  .project--phone .project__description {
    margin-top: 70px; }
    @media all and (min-width: 40em) and (max-width: 58.74em) {
      .project--phone .project__description {
        float: right;
        width: 250px; } }
  .project--phone.project--active .project__content {
    right: 380px; }
  .project--phone.project--active .project__description {
    left: 320px;
    opacity: 1; }

.project--tablet--landscape {
  min-height: 430px; }
  .project--tablet--landscape .project__content {
    width: 480px;
    padding: 30px 60px 25px 60px;
    border-radius: 15px;
    background-color: #eeeeee; }
  .project--tablet--landscape .project__description {
    margin-top: 80px; }
  .project--tablet--landscape.project--active .project__content {
    right: 360px; }
  .project--tablet--landscape.project--active .project__description {
    left: 630px;
    opacity: 1; }

footer {
  margin: 20px 0;
  color: #bbbbbb;
  text-align: center;
  font-size: 1.6rem; }

.blog {
  width: 600px;
  margin: 0 auto; }
  @media all and (max-width: 39.99em) {
    .blog {
      width: 100%; } }
  @media all and (min-width: 40em) {
    .blog .blog__description {
      margin-bottom: 60px; } }
  .blog .blog__list {
    padding: 0;
    list-style: none; }
    .blog .blog__list .blog__list__item .blog__list__item__date {
      width: 140px;
      display: inline-block;
      color: #bbbbbb; }
      @media all and (max-width: 39.99em) {
        .blog .blog__list .blog__list__item .blog__list__item__date {
          display: block; } }
    .blog .blog__list .blog__list__item .blog__list__item__title {
      font-family: "Apercu Bold", "Futura", sans-serif;
      font-size: 1.8rem;
      text-decoration: none; }

.post .post__header {
  margin-bottom: 60px; }
  .post .post__header .post__header__date {
    margin-bottom: 0;
    color: #bbbbbb; }
  .post .post__header .post__header__title {
    margin-top: 0px; }
.post .post__content p {
  margin-bottom: 24px;
  color: #333333; }
.post .post__onward .post__onward__share {
  float: right; }
  @media all and (max-width: 39.99em) {
    .post .post__onward .post__onward__share {
      display: none; } }
.post .post__bio {
  margin: 40px 0;
  border-top: 1px solid #eeeeee;
  padding: 40px 0; }
  @media all and (max-width: 39.99em) {
    .post .post__bio br {
      display: none; } }
  .post .post__bio .post__bio__avatar {
    float: left;
    margin-right: 20px; }
    @media all and (max-width: 39.99em) {
      .post .post__bio .post__bio__avatar {
        display: none; } }
  .post .post__bio .post__bio__title {
    margin: 0;
    color: #ef3f42;
    font-family: "Apercu Bold", "Futura", sans-serif;
    font-size: 1.8rem; }
  .post .post__bio .post__bio__paragraph {
    margin-top: 6px; }

.contact {
  position: fixed;
  z-index: 5;
  width: 100%;
  opacity: 0;
  margin-top: -300px;
  background-color: #ef3f42;
  border-top: 2px solid #b90f12;
  color: white;
  text-align: center;
  -webkit-transition-duration: 300ms;
  -moz-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  transition-duration: 300ms; }
  .contact .contact__title {
    margin-bottom: 20px;
    font-family: "Apercu Bold", "Futura", sans-serif;
    font-size: 1.8rem; }
  .contact .contact__options {
    margin-bottom: 20px;
    font-size: 1.6rem; }
    .contact .contact__options .contact__options__link {
      display: inline-block;
      margin: 0 8px;
      padding: 8px 10px;
      border-radius: 3px;
      background-color: white; }
    .contact .contact__options .contact__options__link--mailto {
      text-decoration: none; }
    .contact .contact__options .contact__options__link--input {
      width: 200px;
      border: none;
      font-family: "ff-tisa-web-pro", Georgia, serif;
      font-size: 1.6rem; }
      .contact .contact__options .contact__options__link--input:focus {
        outline: none; }
  .contact .contact__mask {
    display: none;
    position: fixed;
    z-index: 5;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.6); }

.contact--visible {
  margin-top: 0;
  opacity: 1; }
  .contact--visible .contact__mask {
    display: block; }

.no-touch a:hover {
  color: #666666;
  -webkit-transition-duration: 500ms;
  -moz-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms; }
