<header>
    <div class='container'>
        <ul class='header__menu'>
            <li class="header__menu-item">
                <a class='header__menu-link' href='mailto:mail@sammorrisdesign.co.uk'>Contact</a>
                <a class='header__menu-link' href='https://www.instagram.com/sammorrisdesign/'>Instagram</a>
                <a class='header__menu-link' href='https://twitter.com/SamMorrisDesign'>Twitter</a>
            </li>
        </ul>
        <h1 class='header__content'>
            <a class='header__name' href='http://www.sammorr.is'>Sam Morris</a>
            I’m a designer for screens currently working at The Guardian in New York. Previously of unit9 and Nokia. D&AD Yellow Pencil winner. You can follow me on Twitter
        </h1>
    </div>
</header>
