<header class='is-step'>
  <div class='container'>
    <ul class='header__menu'>
      <li class="header__menu-item">
        <a class='header__menu-link' href='mailto:mail@sammorrisdesign.co.uk'>Email</a>
      </li>
      <li class="header__menu-item">
        <a class='header__menu-link' href='https://mastodon.social/@sammorris'>Mastodon</a>
      </li>
      <li class="header__menu-item">
        <a class="header__menu-link" href='https://staging.bsky.app/profile/sammorr.is'>BlueSky</a>
      </li>
      <li class="header__menu-item">
        <a class='header__menu-link' href='https://www.instagram.com/sammorrisdesign/'>Instagram</a>
      </li>
    </ul>

    <div class="header__content">
      <h1 class="header__title">
        <a class='header__name' href='http://www.sammorr.is'>Sam Morris</a>
        <span class="header__content-section">
          <span class='header__content-highlight'>
            Visual Journalist, Designer, and&nbsp;Developer
          </span>
        </span>
      </h1>

      <h2 class="header__subtitle">
        <span class="header__content-highlight">
          Currently: Interactives Editor at The Philadelphia Inquirer
        </span>
      </h2>

      <h2 class="header__subtitle header__subtitle--past">
        <span class="header__content-highlight">
          Then: The Markup and The Guardian
        </span>
      </h2>
    </div>
  </div>
</header>