<header class='is-step'>
  <div class='container'>
    <ul class='header__menu'>
      <li class="header__menu-item">
        <a class='header__menu-link' href='mailto:mail@sammorrisdesign.co.uk'>Email</a>
      </li>
      <li class="header__menu-item">
        <a class="header__menu-link" href='https://bsky.app/profile/sammorr.is'>BlueSky</a>
      </li>
      <li class="header__menu-item">
        <a class='header__menu-link' href='https://www.instagram.com/sammorrisdesign/'>Instagram</a>
      </li>
    </ul>

    <div class="header__content">
      <h1 class="header__title">
        <a class='header__name' href='http://www.sammorr.is'>Sam Morris</a>
        <span class="header__content-section">
          <span class='header__content-highlight'>
            Visual Journalist, Designer, and&nbsp;Developer
          </span>
        </span>
      </h1>

      <h2 class="header__subtitle">
        <span class="header__content-highlight">
          Currently: Interactives Editor at The Philadelphia Inquirer.
        </span>
      </h2>

      <h2 class="header__subtitle">
        <span class="header__content-highlight">
          Looking for the team’s work? Check out our best of <a href="https://www.inquirer.com/news/inq2/year-in-interactives-best-visual-stories-20251230.html">2025</a>, <a href="https://www.inquirer.com/news/inq2/year-in-interactives-best-visual-stories-20241219.html">2024</a> and <a href="https://www.inquirer.com/news/inq2/year-in-interactives-best-visual-stories-20231219.html">2023</a> round-ups.
        </span>
      </h2>

      <h2 class="header__subtitle header__subtitle--past">
        <span class="header__content-highlight">
          Then: The Markup and The Guardian
        </span>
      </h2>
    </div>
  </div>
</header>