<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sam Morris | Designer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="{{ site.description }}">
    <meta name="keywords" content="edtiroail design, front end developement, journalist design, web design, guardian design, guardian designer, the guardian, guardian us, mobile design, ios designer, app designer, new york, british, digital designer, front-end web developement, jquery">
    <link rel="canonical" href="{{ path }}/index.html" />

    <!-- Favicons -->
    <link rel="apple-touch-icon-precomposed" href="{{ path }}/assets/images/apple-touch-icon-precomposed.png" />
    <link rel="shortcut icon" href="{{ path }}/assets/images/favicon.png" />

    <!-- Styles -->
    <link rel="stylesheet" type='text/css' href="{{ path }}/main.css" />
    <noscript><link rel="stylesheet" href="{{ path }}/noscript.css"></noscript>

    <!-- Fonts -->
    <script type="text/javascript" src="//use.typekit.net/cox2nal.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
