<div class='projects'>
    <div class='container'>
        {{#each projects}}
        <div class='project'>
            <div class='project__content'>
                <video class='project__video' preload='auto' playsinline loop autobuffer='false' poster='{{ path }}/assets/images/projects/{{ handlise title }}.jpg'>
                    <source src='{{ path }}/assets/videos/{{ handlise title }}.mp4' type='video/mp4'>
                    <source src='{{ path }}/assets/videos/{{ handlise title }}.webm' type='video/webm'>
                </video>
            </div>
            <div class="project__about">
                <h3 class='project__title'>{{ title }}</h3>
                <div class='project__description'>{{{ marked description }}}</div>
            </div>
        </div>
        {{/each}}
    </div>
</div>
