---
layout: default
active: blog
---

<div class="post blog">
    <div class="post__header">
        <p class="post__header__date">{{ page.date | date: "%b %-d, %Y" }}</p>
        <h2 class="post__header__title title">{{ page.title }}</h2>
    </div>
    <article class="post__content">
        {{ content | indent: 8 }}
    </article>
    <div class="post__onward paragraph">
        <span class="post__onward__return"><a href="{{ "/blog" | prepend: site.url }}">&larr; Older posts</a></span>
        <span class="post__onward__share">Tell your friends <a href="http://twitter.com/home?status=I just read {{ page.title }}%20→%20{{ page.url | prepend: site.url }}%20(via%20@sammorrisdesign)">Tweet</a></span>
    </div>
    <div class="post__bio">
        <img class="post__bio__avatar" src="{{ "/assets/images/avatar.jpg" | prepend: site.url }}" alt="me" />
        <h3 class="post__bio__title">Written by</h3>
        <p class="post__bio__paragraph paragraph">{% include /base/bio.html %}</p>
    </div>
</div>