html {
    font-size: 62.5%;
}

body {
    margin: 91px 0 0 0;
    font-family: $sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    background: white;
    transition: background 0.4s linear;
    background-color: $light-blue;

    @include mq($until: mobile) {
        margin-top: 110px;
    }
}

a {
    color: $black;
    text-decoration: none;

    &:hover {
        color: $dark-grey;
    }

    &:active {
        position: relative;
        top: 1px;
    }
}

main {
    padding-top: 20px;
}

.container {
    overflow: auto;
    padding: 10px 20px;
    margin: 0 auto;

    @include mq(desktop) {
        width: 1040px;
    }
}

::selection {
    background-color: $black;
    color: $light-blue;
}
