html {
    font-size: 62.5%;
}

body {
    margin: 91px 0 0 0;
    font-family: $sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;

    @include mq($until: mobile) {
        margin-top: 110px;
    }
}

a {
    color: $red;
    text-decoration: none;

    &:hover {
        color: $dark-grey;
    }

    &:active {
        position: relative;
        top: 1px;
    }
}

main {
    padding-top: 20px;
}

.container {
    overflow: auto;
    padding: 0 20px;
    margin: 10px auto;
    opacity: 0;
    @include transition-duration(250ms);
    @include mq($from: desktop) {
        width: 900px;
    }

    .wf-active & {
        opacity: 1;
    }
}

::selection {
    background-color: $yellow;
    color: $dark-grey;
}
