footer {
    margin: 20px 0;
    color: $dark-grey;
    font-size: $font-size-body;
    line-height: $line-height-body;

    .container {
        @include mq(desktop) {
            padding-left: 240px;
            box-sizing: border-box;
        }
    }
}
