footer {
    margin: 20px 0;
    color: $grey;
    font-size: $font-size-body;

    .container {
        @include mq(desktop) {
            padding-left: 280px;
            box-sizing: border-box;
        }
    }
}
