header .container {
    @include mq(desktop) {
        display: flex;
        justify-content: space-between;
    }
}

.header__menu {
    margin: 0;
    padding: 0;
    list-style: none;

    @include mq(desktop) {
        width: 160px;
    }
}

.header__menu-item {
    display: block;
    font-size: $font-size-body;
    line-height: $line-height-body;
}

.header__content {
    margin: 0;

    @include mq(desktop) {
        width: 700px;
        font-size: $font-size-large;
        line-height: $line-height-large;
    }
}

.header__content-highlight {
    background-color: $light-blue;
    box-shadow: $light-blue 0 12px; // find better method of doing this so grid lines stop at baselines
}
