header {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    padding: 16px 0;
    background-color: $white;

    .container {
        display: flex;
    }
}

.header__name {
    margin: 0;
    font-size: $font-size-medium;

    @include mq(desktop) {
        width: 280px;
    }
}

.header__menu {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: $font-size-medium;
    font-weight: bold;
}
