.intro {
    .intro__par {
        margin-bottom: 12px;
        color: $black;
        font-size: $font-size-large;
        font-weight: bold;
        max-width: 600px;
        line-height: 1.25;

        @include mq(desktop) {
            margin: 0;
            padding: 120px 0 120px 280px;
        }
    }
}
