.jump-area {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: s-resize;

    @include mq($until: tablet) {
        display: none;
    }

    .is-at-bottom & {
        cursor: n-resize;
    }
}
