.logo {
    margin: 0;
    background-color: $red;
    font-family: $sans-serif;
    font-size: $font-size-medium;

    @include mq($from: mobile) {
        float: left;
        border-radius: 3px;
    }

    @include mq($until: mobile) {
        width: 100%;
        text-align: center;
    }

    &:hover {
        background-color: $dark-grey;
        @include transition-duration(500ms);

        .logo__anchor {
            color: $white;
        }
    }

    .logo__anchor {
        display: block;
        padding: 8px 10px;
        color: $off-white;
        text-decoration: none;
        @include mq($until: mobile) {
            padding: 16px 0;
        }
    }
}