.other .container {
    @include mq(desktop) {
        display: flex;
    }
}

.other__about {
    @include mq(desktop) {
        width: 300px;
        flex-shrink: 0;
        padding-right: 80px;
        box-sizing: border-box;
    }

    @include mq(wide) {
        width: 360px;
    }
}

.other__main-title {
    margin: 0;
    font-size: $font-size-body;
    line-height: $line-height-body;
    font-weight: normal;

    @include mq(wide) {
        font-size: $font-size-large;
        line-height: $line-height-large;
        margin-top: -6px;
        margin-bottom: 5px;
    }
}

.other__projects {
    margin: 0;
    padding: 0;
    list-style: none;
}

.other__project {
    margin-bottom: 50px;
    padding-right: 60px;

    @include mq(tablet) {
        display: flex;
        flex-wrap: wrap;
    }

    @include mq(desktop) {
        padding-right: 0;
    }
}

.other__description,
.other__tags,
.other__meta {
    font-size: $font-size-body;
    line-height: $line-height-body;

    @include mq(desktop) {
        width: 220px;
        margin-right: 20px;
    }

    @include mq(wide) {
        width: 280px;
    }
}

.other__tags,
.other__meta {
    display: none;

    @include mq(desktop) {
        display: block;
    }
}


.other__link {
    position: relative;
    width: 100%;
    display: block;
    border: none;

    &:hover {
        .other__title-span {
            border-bottom-color: $blue;
        }

        .other__arrow {
            transform: translate(3px, -3px);
        }
    }
}

.other__title {
    margin: 0;
    font-size: $font-size-body;
    line-height: $line-height-body;
    font-weight: normal;
    display: block;

    @include mq(desktop) {
        max-width: 220px;
    }

    @include mq(wide) {
        max-width: 280px;
    }
}

.other__title-span {
    display: inline;
    border-bottom: 1px solid transparent;
    transition: border 0.4s linear;
    background-color: $light-blue;
}

.other__arrow {
    position: absolute;
    top: 1px;
    right: -53px;
    width: 18px;
    display: block;
    margin: auto;
    transition: transform 0.4s linear;

    @include mq(desktop) {
        right: auto;
        left: -48px;
    }

    @include mq(wide) {
        top: 3px;
        left: -54px;
        width: 28px;
    }
}

.other__description {
    color: $black;
    font-size: $font-size-body;
    line-height: $line-height-body;
    color: #1f1f26;
    background-color: $light-blue;

    p {
        margin: 0;
    }
}


.other__meta {
    margin-right: 0;

    @include mq(desktop) {
        display: flex;
        justify-content: space-between;
    }
}
