.post-content__wrapper {
    font-size: $font-size-body;
    line-height: $line-height-body;
    font-weight: normal;
    background-color: $light-blue;

    @include mq(tablet) {
        width: 640px;
    }

    @include mq(desktop) {
        margin-left: 300px;
        width: 700px;
    }

    @include mq(wide) {
        width: 580px;
        margin-left: 360px;
    }
}
