.project {
    @include mq(desktop) {
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        align-items: stretch;
        justify-content: space-between;
        padding-bottom: 200px;
    }
}

.project__filter {
    display: none;
}

.project__content {
    background-color: $light-blue;
    margin-top: -10px;
    padding: 10px 0;
}

.project__video-crop {
    position: relative;
    height: 0;
    padding-top: 56.25%;
    overflow: hidden;

    @include mq(desktop) {
        width: 700px;
        height: 393.75px;
        flex-shrink: 0;
        padding-top: 0;
    }
}

.project__video {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    filter: grayscale(1) url('#duotone');
    transition: filter 0.4s linear;
}

.project--active {
    .project__video {
        filter: none;
    }
}

.project__about {
    margin-bottom: 60px;
    font-size: $font-size-body;
    line-height: $line-height-body;

    @include mq(desktop) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0;
        width: 220px;
    }
}

.project__link {
    position: relative;
    width: 100%;
    display: block;

    @include mq(desktop) {
        width: auto;
        padding-right: 60px;
    }

    &:hover {
        border-bottom: transparent;

        .project__title {
            border-bottom-color: $blue;
        }

        .project__arrow {
            transform: translate(3px, -3px);
        }
    }
}

.project__title {
    margin: 0;
    font-size: $font-size-body;
    line-height: $line-height-body;
    font-weight: normal;
    border-bottom: 1px solid transparent;
    transition: border 0.4s linear;
    display: inline;
}

.project__arrow {
    position: absolute;
    top: 2px;
    right: 10px;
    width: 20px;
    display: block;
    margin: auto;
    transition: transform 0.4s linear;
}

.project__description {
    color: $black;
    background-color: $light-blue;
    margin-right: 60px;

    p {
        margin: 0;
    }
}
