.project--phone {
    min-height: 644px;
    @include mq(mobile, desktop) {
        width: 600px;
    }

    .project__content {
        width: 270px;
        padding: 80px 20px;
        border-radius: 20px;
        background-color: $light-grey;
        @include mq(mobile, desktop) {
            float: left;
        }

        .project__content__image {
            width: 270px;
        }
    }

    .project__description {
        margin-top: 70px;
        @include mq(mobile, desktop) {
            float: right;
            width: 250px;
        }
    }

    &.project--active {
        .project__content {
            right: 380px;
        }

        .project__description {
            left: 320px;
            opacity: 1;
        }
    }
}