.project__wrapper {
    animation: fade 0.4s linear 1 forwards;
    animation-delay: 1.5s;

    @include mq(desktop) {
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        align-items: stretch;
        justify-content: space-between;
        padding-bottom: 200px;
    }
}

.project__filter {
    position: absolute;
    pointer-events: none;
}

.project__content {
    background-color: $light-blue;
    margin-top: -10px;
    padding: 10px 0;

    @include mq(desktop) {
        margin-bottom: -10px;
    }
}

.project__video-crop {
    position: relative;
    aspect-ratio: 16 / 9;
    overflow: hidden;

    @include mq(desktop) {
        width: 700px;
        flex-shrink: 0;
        padding-top: 0;
    }

    @include mq(wide) {
        width: 880px;
    }
}

.project__video {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.project__video--filtered {
    z-index: 2;
    filter: grayscale(1) url('#duotone');
    transition: opacity 0.4s linear;
    opacity: 1;

    .is-safari & {
        filter: grayscale(1);
    }

    .project--active & {
        opacity: 0;
    }
}

.project__about {
    margin-bottom: 60px;
    font-size: $font-size-body;
    line-height: $line-height-body;

    @include mq(desktop) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0;
        width: 280px;
    }

    @include mq(wide) {
        width: 340px;
    }
}

.project__link {
    position: relative;
    width: 100%;
    display: block;
    border: none;
    padding-right: 60px;
    box-sizing: border-box;

    @include mq(desktop) {
        width: auto;
    }

    &:hover {
        .project__title {
            border-bottom-color: $blue;
        }

        .project__arrow {
            transform: translate(3px, -3px);
        }
    }
}

.project__title {
    margin: 0;
    font-size: $font-size-body;
    line-height: $line-height-body;
    font-weight: normal;
    border-bottom: 1px solid transparent;
    transition: border 0.4s linear;
    display: inline;
    background-color: $light-blue;

    @include mq(wide) {
        font-size: $font-size-large;
        line-height: $line-height-large;
    }
}

.project__arrow {
    position: absolute;
    top: 1px;
    right: 7px;
    width: 18px;
    display: block;
    margin: auto;
    transition: transform 0.4s linear;

    @include mq(desktop) {
        right: 10px;
    }

    @include mq(wide) {
        width: 28px;
        top: 7px;
        right: 7px;
    }
}

.project__description {
    color: $black;
    background-color: $light-blue;
    margin-right: 60px;

    p {
        margin: 0;
    }
}
