// Colours
$light-blue: #d5f2f2;
$blue: #0d64f4;

$white: #fff;
$off-white: #fcfcfc;
$light-grey: #eee;
$grey: #bbb;
$dark-grey: #666;
$black: #1f1f26;

$light-red: #ffe3d1;
$light-yellow: #fff6de;
$light-green: #dbf3d0;
