// Colours
$red: #ef3f42;
$yellow: #fffed7;

$white: #fff;
$off-white: #fcfcfc;
$light-grey: #eee;
$grey: #bbb;
$dark-grey: #666;
$black: #1f1f26;

$light-red: #ffe3d1;
$light-yellow: #fff6de;
$light-green: #dbf3d0;
$light-blue: #d4f2f3;
