// Fonts
$serif: "ff-tisa-web-pro", Georgia, serif;
$sans-serif: "europa", "Futura", sans-serif;

// Type Sizes
$font-size-extralarge: 4.4rem;
$font-size-large: 3.2rem;
$font-size-medium: 2.0rem;
$font-size-body: 1.6rem;

// Line Height
$line-height-body: 2.6rem;
